/* task-list.component.css */
.completed-task {
  background-color: #c3e6cb; /* Verde claro para tareas completadas */
}

.priority-low:not(.completed-task) {
  background-color: #b8daff; /* Celeste para prioridad baja que no está completada */
}
  
.priority-medium:not(.completed-task) {
  background-color: #ffeeba; /* Un color amarillo claro para prioridad media */
}

.priority-high:not(.completed-task) {
  background-color: #f5c6cb; /* Un color rojo claro para prioridad alta */
}


/* task-list.component.css */
.btn-sort-date {
  background-color: #17a2b8; /* Bootstrap's info color */
  color: white;
}

.btn-sort-priority {
  background-color: #28a745; /* Bootstrap's success color */
  color: white;
}

/* Añade :hover para los efectos al pasar el ratón */
.btn-sort-date:hover,
.btn-sort-priority:hover {
  filter: brightness(90%);
}

